

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    color: white;
    font-size: 40px;
    font-family: 'Staatliches';
}



@media screen and (min-width: 800px) {

.centered {
        visibility: hidden;
    }

h5 {
        font-size: 40px;
        padding-bottom: 90px;
        font-family: "Staatliches";
    }

.carousel{
    width:500px;
    height: 500px;
}

#img2{
    align-content: center;
    width:auto;
    height:495px;

}

.card {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 550px
}

#card2{
    position: right;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 550px

}

}



