.bg-{
    background-color: black;
}

#furnNav{

}


.my-sm-0 {
    border: white solid 1px;
}




.navbar{
     color:white;
     font-family: 'Questrial', serif;
 }

.navbar-dark{
    background-color: black;
}
