* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background-color:  grey;
    display: flex;
    justify-content: space-between;
    margin: 1em;
    height: em;
    color: #000000;
    position:fixed;
    width: 100%;
    top: 0;
    padding:3px 10vw;
    box-shadow: white;
     }
a {
    display: inline-block;

}
ul {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    align-items:center;
    justify-content: center;
    padding:0;
}
li>a{
    color:black;
}
li {
    display: inline-block;
    margin: 1em;
    text-shadow: 1px 1px black;
}
nav a:hover{
    color: #000000;
}
nav a:active{
    color: orangered;

}
h2 {
    font-family: "Work Sans";
    font-size: 2.2em;
    position: absolute;
    color: black;

    /*With The Calc Function Calc*/
    top: calc(50% - 38px);
    left: calc(50% - calc(117px / 2));

}
/*li>a:hover {*/
/*    text-shadow: 1px 1px whitesmoke;*/
/*}*/
body{
    background: #d4debd;
    color: #0a1428;
}
