body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    padding:.75em;
    border: 1px solid lightgrey;
    margin: .5em auto;
    border-radius: .3em;
    width: 80%;
}
.message-info {
    color: #514ea5;
    background-color: #cddeff;
}

.message-info {
    color: #514ea5;
    background-color: #cddeff;
}

.message-info {
    color: #514ea5;
    background-color: #cddeff;
}

.message-info {
    color: #514ea5;
    background-color: #cddeff;
}
