body {
    /*display:inline-grid;*/
    /*justify-content: center;*/
    /*grid-row-gap: 60px;*/
    /*grid-column-gap: 60px;*/
    /*grid-template-columns: 500px 500px 500px 500px;*/
    /*grid-template-rows: 400px 500px 500px;*/
    /*padding-top: 100px;*/
    /*margin: 30px;*/
    /*background-color: white;*/
}




.bacon {
    display:inline-grid;
    justify-content: center;
    grid-row-gap: 60px;
    grid-column-gap: 60px;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 350px 300px 300px;
    padding-top: 100px;
    margin-left: 300px;
    margin-top: 200px;
    background-color: white;
}


#my {
    /*align-content: center;*/
    width: 300px;
    height:300px;
    border: 60px black;
    margin-left: 100px;
    text-align: center;
    padding: 5px;
    margin: 3em;
    grid-area: 1 / 2 / 1 / 1;
    background-color: powderblue;
}

#hoe {
    align-content: center;
    width: 300px;
    height:300px;
    background-color: powderblue;
    margin: 3em;
    text-align: center;
    padding: 5px;
    /*align-content: center;*/
    grid-area: 1 / 3 / 1/ 2;

}

#brings {
    align-content: center;
    width: 300px;
    height:300px;
    background-color: powderblue;
    margin: 3em;
    text-align: center;
    padding: 5px;


}

#home {
    align-content: center;
    width: 300px;
    height:300px;
    background-color: powderblue;
    margin: 3em;
    text-align: center;
    padding: 5px;

}

#the {
    width: 300px;
    height:300px;
    background-color: powderblue;
    margin: 3em;
    text-align: center;
    padding: 5px;
}

#pig {
    width: 300px;
    height:300px;
    background-color: powderblue;
    margin: 3em;
    text-align: center;
    padding: 5px;

}
